/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #171796;
    margin: 0;
    padding: 10px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-y: auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
    color: #171796;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.logo {
    display: block;
    margin: 10px auto;
    width: 300px;
    animation: slideInFromLeft 2s ease-out;
    transform: perspective(500px) rotateY(20deg) rotateX(10deg);
    transition: transform 0.5s;
}

.logo:hover {
    transform: perspective(500px) rotateY(0deg) rotateX(0deg);
}

.table-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 28px;
}

th {
    background-color: #171796;
    color: #ffffff;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:last-child td {
    border-bottom: none;
}

.led {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s, box-shadow 0.3s;
}

.led:hover {
    transform: perspective(500px) translateZ(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.led-green {
    background-color: green;
}

.led-orange {
    background-color: orange;
}

.led-red {
    background-color: red;
}

.led-blue {
    background-color: blue;
}

.led-yellow {
    background-color: yellow;
}

.led-off {
    background-color: grey;
}

#graph-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5s;
}

#graph-container:hover {
    transform: none;
}

#graph-container canvas {
    width: 100% !important;
    height: auto !important;
    max-height: 200px;
}

th.channel, td.channel {
    width: 5%;
    max-width: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
}

th.valeur, td.valeur {
    width: 10%;
    max-width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
}

th.alarme, td.alarme,
th.presence-source, td.presence-source,
th.defaut, td.defaut {
    width: 8%;
    max-width: 8%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#notification, #disk-space-notification {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 1000;
}

#disk-space-notification {
    top: 60px;
}

/* Styles pour le cube */
.cube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 400px;
    perspective: 3000px;
    cursor: grab;
    float: left;
}

.cube {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.1s;
    transform: rotateX(-45deg) rotateY(45deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 400px;
    background: transparent;
    border: 3px solid #171796;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
}

.front {
    transform: rotateY(0deg) translateZ(200px);
}

.back {
    transform: rotateY(180deg) translateZ(200px) scaleX(-1);
}

.top {
    transform: rotateX(90deg) translateZ(200px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(200px) scaleY(-1);
}

.left {
    transform: rotateY(-90deg) translateZ(200px);
}

.right {
    transform: rotateY(90deg) translateZ(200px) scaleX(-1);
}

.detector {
    width: 80%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.personnage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: auto;
    display: none;
}

/* Styles pour le menu */
.navbar {
    overflow: hidden;
    background-color: #171796;
}

.navbar a, .dropdown .dropbtn {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #171796;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    background-color: #171796;
    color: white;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #171796;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #171796;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fullscreen-btn {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #171796;
    cursor: pointer;
}

.fullscreen-btn:hover {
    background-color: red;
}

.red_e {
    color: red;
}

.green_e {
    color: green;
}
.text-red {
    color: red;
}

.text-green {
    color: green;
}
.back-button, .submit-button {
    background-color: #171796;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover, .submit-button:hover {
    background-color: red;
    transform: scale(1.05);
}

/* Styles pour le popup modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Réduit la largeur à 40% */
    font-size: 48px; /* Augmente la taille des caractères */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px; /* Augmente la taille des caractères */
}
.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    white-space: pre-wrap; /* Permet l'affichage du texte avec des retours à la ligne */
}

.flashes .success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flashes .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.version-display {
    float: right;
    padding: 10px;
    font-weight: bold;
    color: #fff;
}