<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-translate-key="email_settings_title">Paramètres Email - GammaScan eV5</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/lang.js') }}"></script> <!-- Inclusion du script de langue -->

</head>
<body>
    <h2 data-translate-key="email_settings_title">Paramètres Email</h2>
    <form action="{{ url_for('email_params') }}" method="post">
        <label for="smtp_server" data-translate-key="smtp_server">Serveur SMTP:</label>
        <input type="text" id="smtp_server" name="smtp_server" value="{{ params['smtp_server'] }}"><br><br>
        
        <label for="port" data-translate-key="port">Port SMTP:</label>
        <input type="text" id="port" name="port" value="{{ params['port'] }}"><br><br>
        
        <label for="login" data-translate-key="login">Login SMTP:</label>
        <input type="text" id="login" name="login" value="{{ params['login'] }}"><br><br>
        
        <label for="password" data-translate-key="password">Mot de passe SMTP:</label>
        <input type="text" id="password" name="password" value="{{ params['password'] }}"><br><br>
        
        <label for="sender" data-translate-key="sender_address">Adresse émetteur:</label>
        <input type="text" id="sender" name="sender" value="{{ params['sender'] }}"><br><br>
        
        <label for="recipients" data-translate-key="recipients">Destinataires:</label>
        <input type="text" id="recipients" name="recipients" value="{{ params['recipients'] }}"><br><br>
        
        <input type="submit" value="Sauvegarder" class="submit-button" data-translate-key="save_button">
        <a href="javascript:history.back()" class="back-button" data-translate-key="back_button">Retour</a>
    </form>
</body>
</html>
